#auth-wrapper
    min-height: 100%
    width: calc(40vw - 20px)
    margin-left: 20px
    padding-top: 20px
    animation:
        name: loginFade
        duration: 1s
    button
        float: right

.auth-title, .form-group, .checkbox, form
    margin-bottom: 30px

input
    &[type="text"], &[type="password"]
        padding: 18px 12px
    
button
    padding: 6px 30px
    font-weight: 700

#other-login 
    p
        margin: $padding-small-horizontal 0
    button
        padding: 6px 30px
#facebook-button, #twitter-button
    width: 100%
    color: $body-bg
    margin-bottom: $padding-small-horizontal
#facebook-button
    @include button-variant($body-bg, $btn-color-facebook, darken($btn-color-facebook, 5%))
#twitter-button
    @include button-variant($body-bg, $btn-color-twitter, darken($btn-color-twitter, 5%))

@media only screen and (max-width: 768px)
    #auth-wrapper
        width: calc(100vw - 35px)
        animation: none

@keyframes loginFade
    from
        opacity: 0
        margin-left: -20%
    to
        opacity: 1
        margin-left: 20px
