#welcome-wrapper
    position: absolute
    overflow: hidden
    right: 0
    transform-origin: 100% 0
    color: $body-bg
    display: block
    width: 60vw
    height: 100vh
    animation:
        name: welcomeFade
        duration: 3s
    z-index: 100
    & > img
        width: 100%
        height: 100%
        transform: skewX(55.98deg)
            origin: inherit

#welcome-text
    position: absolute
    right: 10px
    top: 5px 
    width: 200px
    & > h1
        font-weight: 700

@media only screen and (max-width: 768px)
    #welcome-wrapper
      position: relative
      animation: none
      width: 100vw
      height: 130px
      & > img
        transform: none

    #welcome-text
        right: inherit
        width: 100%
        text-align: center

@keyframes welcomeFade
    from
        opacity: 0
        right: 100%
    to
        opacity: 1
        right: 0
