@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700')

@import "variables"
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"
@import "welcome"
@import "auth"


body
    font-family: 'Ubuntu', sans-serif
    position: relative

a
    cursor: pointer

#page-wrapper
    width: 100vw
    height: 100vh
    // display: flex
    // flex-direction: column
    // overflow: hidden
