<template lang="pug">
    div
        Login(
            v-if="isLogin"
            v-bind:toggleLogin="toggleLogin"
        )
        Registration(
            v-else
            v-bind:toggleLogin="toggleLogin"
        )
</template>

<script lang="ts">
    import Vue from 'vue';
    import Login from './Login.vue';
    import Registration from './Registration.vue';

    export default Vue.extend({
        components: {
            Login,
            Registration,
        },
        data()
        {
            return {
                isLogin: true,
            }
        },
        methods: {
            toggleLogin()
            {
                this.isLogin = !this.isLogin;
            }
        }
    });
</script>
