<template lang="pug">
    #alerts
        .alert.alert-danger(v-for="message in messages" role="alert")
            i.fas.fa-exclamation-circle
            span.sr-only Error:
            |  {{ message }}
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        props: {
            messages: {
                required: true,
                type: Array,
            }
        }
    })
</script>
