<template lang="pug">
    #login
        .auth-title
            h2 Login
            p Don't have an account? 
                a(v-on:click="toggleLogin") Create your account
        form
            Error(v-if="responseMessages" v-bind:messages="responseMessages")
            .form-group
                label.text-danger(v-if="!valid.username") Must be least 5 and maximum 255 characters
                input.form-control(type="text" placeholder="Username" v-model="username")
            .form-group
                label.text-danger(v-if="!valid.password") Must be enter something
                input.form-control(type="password" placeholder="Password" v-model="password")
            .row.checkbox
                .col-xs-6
                    label
                        input(type="checkbox" v-model="rememberMe") 
                        | Remember me
                .col-xs-6
                    p.text-right Forgot password?
            .form-group
                button.btn.btn-primary.text-right(type="button" v-on:click="login") LOGIN
        .clearfix
        #other-login
            .col-md-3 
                p Or login with:
            .col-md-3
                button.btn#facebook-button
                    i.fab.fa-facebook-f
            .col-md-3
                button.btn#twitter-button
                    i.fab.fa-twitter
</template>

<script lang="ts">
    import Vue from 'vue';
    import Error from './Error.vue';

    interface Valid
    {
        username: boolean;
        password: boolean;
    }

    interface Data
    {
        username: string;
        password: string;
        rememberMe: boolean;
        responseMessages: null | string[];
        valid: Valid;
    }

    interface LoginResponse
    {
        data: {
            success: boolean,
            msg: string[]
        };
    }

    export default Vue.extend({
        components: {
            Error
        },
        props: {
            toggleLogin: {
                required: true,
                type: Function,
            }
        },
        data(): Data
        {
            return {
                username: '',
                password: '',
                rememberMe: false,
                responseMessages: null,
                valid: {
                    username: true,
                    password: true,
                }
            }
        },
        methods: {
            async login()
            {
                if (!this.isValid())
                {
                    return;
                }

                this.responseMessages = await this.sendLogin();

                if (this.responseMessages === null)
                {
                    window.location.reload();
                }
            },
            isValid()
            {
                const validKeys = Object.keys(this.valid) as (keyof Valid)[];
                
                for (const key of validKeys)
                {
                   this.valid[key] = true
                }

                if (!isUsernameValid(this.username))
                {
                    this.valid.username = false;
                }
                if (!isPasswordValid(this.password))
                {
                    this.valid.password = false;
                }

                for (const key of validKeys)
                {
                    if (!this.valid[key])
                    {
                        return false;
                    }
                }

                return true;
            },
            async sendLogin(): Promise<null | string[]>
            {
                const {data}: LoginResponse = await window.axios.post('/user/login', {
                    username: this.username,
                    password: this.password,
                    rememberMe: this.rememberMe,
                });
                const {success, msg} = data;

                return success ? null : msg;
            }
        }
    })

    function isUsernameValid(username: string): boolean
    {
        const usernameLength = username.length;

        return usernameLength >= 5 && usernameLength <= 255;
    }

    function isPasswordValid(password: string): boolean
    {
        return password.length > 0;
    }
</script>
