<template lang="pug">
    #registration
        .auth-title
            h2 Registration
            p Do you have an account already? 
                a(v-on:click="toggleLogin") Then log in
        form
            .form-group
                input.form-control(type="text" placeholder="Username")
            .form-group
                input.form-control(type="password" placeholder="Password")
            .form-group
                input.form-control(type="password" placeholder="Password again")
            .row.checkbox
                .col-xs-12
                    label
                        input(type="checkbox")
                        | Accept licences
            button.btn.btn-primary(type="submit") SIGN IN
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        props: {
            toggleLogin: Function,
        }
    })
</script>
